body{
background-color: black;
color: white;
font-family: 'Inter', sans-serif;
}

nav ul{
    max-width: 800px;
    list-style: none;
    padding: 0px;  
    margin: 0;     
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: rgb(255, 255, 255);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: color;
}

nav ul li a:hover{
    color: rgb(183, 221, 255);
}

nav ul li a{
    float: ;
    
}