body{
background-color: black;
color: white;
font-family: 'Inter', sans-serif;
}

nav ul{
    max-width: 10000px; 
    justify-content: center;
    padding-left: 200px;    
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: rgb(255, 255, 255);
    padding: 100px;
    text-decoration: none;
}